/* Index.css */

:root {
  --primary-color: #008383;
  --secondary-color: #00b3b3;
  --background-color: #f8f9fa;
  --text-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  height: auto;
  /* overflow-x: hidden; */
}

.app {
  /* overflow-x: hidden; */
}

/* El slider SOLO es un carril visual */
.slider {
  display: flex;
  width: 100vw;
}

/* Cada slide ES UNA PÁGINA NORMAL */
.slide {
  width: 100vw;
  flex-shrink: 0;
}
