:root {
  --primary-color: #008383;
  --secondary-color: #00b3b3;
  --background-color: #f8f9fa;
  --text-color: #222;
  --text-light: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}
